@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Open+Sans;Open+Sans+Condensed);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

/* faux Wikipedia logo font */
@font-face { font-family: '2013-16'; font-style: normal; font-weight: 400; src: local('Linux Libertine'),url(//brick.a.ssl.fastly.net/fonts/linuxlibertine/400.woff) format('woff'); } .fa-wikipedia:before { font-family: 'Linux Libertine', 'Times New Roman', Times, serif; font-weight: 400; content: "W"; }

body {
	background: #fbfbfb;
	font: normal normal 400;
	font-size: 90%;
	line-height: 1.65em;
	/* font-family: Verdana, sans-serif; */
	font-family: "EB Garamond", serif;
	margin-top: 1em;
	margin-left: 1em;
}

p {
	position: relative;
	left: 25%;
	letter-spacing: 0.0625em;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 65%;
}

code {
	font: normal normal;
	font-size: 90%;
	font-family: 'Source Code Pro', monospace;
    color: #B0B0B0;
}

p code {
	position: absolute;
	left: -10%;
}


ul {
	position: relative;
	left: 25%;
	width: 65%;
	margin-bottom: 1.5em;
	margin-top: 1em;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}


li {
	
	letter-spacing: .0625em;

}

li ul {
	position: relative;
	left: 0;
    margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 300;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', Calibri, sans-serif;
	width: 65%;
}

h1 {
	font-size: 5em;
    letter-spacing: .0725em;
    line-height: 1em;
    text-transform: uppercase;
	font-color: #3a3a3a;
	text-align: left;
	position: relative;
	margin-top: 2em;
	left: 25%;
	/* padding: .1rem 1rem; */
  	/* text-shadow: 0px 0px #fff, 3px 3px #ccc; */
}

h1+p {
	/*subtitle*/
	color: #202020;
	font-style: normal;
	font-size: 110%;
	line-height: 2em;
	letter-spacing: .0825em;
	margin-top: 0.5em;
	margin-bottom: 0em !important;
}

h1+p+p{
	/*subtitle links*/
	color: #202020;
	font-size: 90%;
	margin-bottom: 1em;
}

h2 {
    font-weight: 500;
    margin-top: .175em;
    text-transform: uppercase;
    font-size: 95%;
    letter-spacing: .2em;
    position: relative;
    top: 1.4em;
    text-align: right;
    width: 15%;
}

h3 {
	color: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    position: relative;
    top: 1.7em;
    letter-spacing: .0625em;
    text-align: right;
    width: 15%;
}

a {
	color: inherit;
	font-size: 90%;
	text-decoration:none;
	font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: #909090;
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 0em;
	position: relative;
 	margin-left: 25%;
	color: #aaa;
	font-size: 80%;
}

#webaddress a {
	text-decoration: none;
}

em {
	/*font-weight: bold; */
	font-style: italic;
}

strong {
	font-style: normal;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', Calibri, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 90%;

#address {
	display: none;
}

.footer {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
		position: relative;
		left: 25%;
		margin-top: 2em;
		margin-bottom: 7em;
		margin-right: 0;
		width: 65%;
}

#technical

/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/
